<div class="panel panel-primary" *ngFor="let customer of customers">
  <div class="panel-heading">
    <h3 class="panel-title">{{customer.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row vertical-align">
        <div class="col-xs-4">
          <img class="imageClass" [src]="customer.imagePath"/>
        </div>

        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-6">Customer ID</div>
            <div class="col-xs-6">:{{customer.id}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6">Customer Name</div>
            <div class="col-xs-6">:{{customer.name}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6">Address</div>
            <div class="col-xs-6">:{{customer.address}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-danger" (click)="deleteCustomer(customer)">Delete</button>
  </div>
</div>
