<form #frmItems="ngForm" (ngSubmit)="saveItem()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create New Item</h3>
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label for="itemcode">Item Code</label>
        <input type="text" class="form-control" id="itemcode" name="itemcode" [(ngModel)]="selectedItem.itemcode"
               placeholder="Enter Item Code">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="selectedItem.description" name="description"
               placeholder="Enter Item Description">
      </div>

      <div class="form-group">
        <label for="qtyonhand">Qty On Hand</label>
        <input type="text" class="form-control" id="qtyonhand" name="qtyonhand" [(ngModel)]="selectedItem.qtyonhand"
               placeholder="Enter Qty On Hand">
      </div>

      <div class="form-group">
        <label for="unitprice">Unit Price</label>
        <input type="text" class="form-control" id="unitprice" name="unitprice" [(ngModel)]="selectedItem.unitprice" placeholder="Enter Unit Pricw">
      </div>

    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

{{frmItems.value | json}}
