<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav list">
      <li><a routerLink="dashboard">Dashboard</a></li>
      <li><a routerLink="viewcustomer">View Customers</a></li>
      <li><a routerLink="createcustomer">Create Customer</a></li>
      <li><a routerLink="viewitem">View Items</a></li>
      <li><a routerLink="createitem">Create Item</a></li>
      <li><a routerLink="placaorder">Place Order</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
