<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Place Order Form</h3>
  </div>
  <div class="panel-body">

    <div class="form-group col-xs-6">
      <label for="orderid">Order ID</label>
      <input type="text" class="form-control" id="orderid" name="orderid" #orderId
             placeholder="Enter Order ID">
    </div>
    <div class="form-group col-xs-6">
      <label for="orderdate">Order Date</label>
      <input type="date" class="form-control" id="orderdate" name="orderdate" #orderDate>
    </div>

    <div class="form-group col-xs-6">
      <label for="customerid">Custoemr ID</label>
      <select name="customerid" id="customerid" [(ngModel)]="selectedCustomer" class="form-control">
        <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.id}}</option>
      </select>
    </div>

    <div class="form-group col-xs-6">
      <label for="customername">Customer Name</label>
      <input type="text" class="form-control" id="customername" name="customerName" value="{{selectedCustomer.name}}"
             disabled>
    </div>

    <div class="form-group col-xs-4">
      <label for="itemcode">Item Code</label>
      <select name="itemcode" id="itemcode" [(ngModel)]="selectedItem" class="form-control">
        <option *ngFor="let item of items" [ngValue]="item">{{item.itemcode}}</option>
      </select>
    </div>

    <div class="form-group col-xs-4">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" value="{{selectedItem.description}}"
             disabled>
    </div>

    <div class="form-group col-xs-4">
      <label for="unitprice">Unit Price</label>
      <input type="text" class="form-control" id="unitprice" name="unitprice" value="{{selectedItem.unitprice}}" disabled>
    </div>

    <div class="form-group col-xs-6">
      <label for="qtyonhand">Qty On Hand</label>
      <input type="text" class="form-control" id="qtyonhand" name="qtyonhand" value="{{selectedItem.qtyonhand}}" disabled>
    </div>

    <div class="form-group col-xs-6">
      <label for="reqqty">Req Qty</label>
      <input type="text" class="form-control" id="reqqty" name="reqqty" #reqqty
             placeholder="Enter Required qty">
    </div>

    <div class="form-group col-xs-12">
      <button type="submit" class="btn btn-warning" (click)="addItems(reqqty.value)">Add Table</button>
    </div>

    <div class="form-group col-xs-12">
      <table id="tblItems" class="table table-bordered">
        <thead>
        <tr>
          <th>Item Code</th>
          <th>Description</th>
          <th>Req Qty</th>
          <th>Unit Price</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let orderDetail of orderDetails">
          <td>{{orderDetail.itemDTO.itemcode}}</td>
          <td>{{orderDetail.itemDTO.description}}</td>
          <td>{{orderDetail.itemDTO.unitprice}}</td>
          <td>{{orderDetail.qty}}</td>
          <td>{{orderDetail.qty * orderDetail.itemDTO.unitprice}}</td>
          <td>
            <i (click)="removeItem(items)"><a>Remove</a></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group">
      <label for="totalprice">Total Price</label>
      <input type="text" class="form-control" id="totalprice" name="customerName">
    </div>

    <!--<div class="form-group">-->
    <!--<label for="paidamount">Paid Amount</label>-->
    <!--<input type="text" class="form-control" id="paidamount" name="paidamount">-->
    <!--</div>-->

    <!--<div class="form-group">-->
    <!--<label for="balance">Balance</label>-->
    <!--<input type="text" class="form-control" id="balance" name="balance">-->
    <!--</div>-->

  </div>
  <div class="panel-footer">
    <button type="submit" class="btn btn-primary" (click)="placeOrder(orderDate.value,orderId.value)">Place Order
    </button>
  </div>
</div>

