<div class="panel panel-primary" *ngFor="let item of items">
  <div class="panel-heading">
    <h3 class="panel-title">{{item.description}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row vertical-align">
        <div class="col-xs-4">
        <img class="imageClass"/>
        </div>

        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-6">Item Code</div>
            <div class="col-xs-6">:{{item.itemcode}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6">Description</div>
            <div class="col-xs-6">:{{item.description}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6">Qty On Hand</div>
            <div class="col-xs-6">:{{item.qtyonhand}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6">Unit Price</div>
            <div class="col-xs-6">:{{item.unitprice}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-danger" (click)="deleteItem(item)">Delete</button>
  </div>
</div>

