<form #customerForm="ngForm" (ngSubmit)="saveCustomer()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create New Customer</h3>
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label for="customerid">Customer ID</label>
        <input type="text" class="form-control" id="customerid" name="customerid" [(ngModel)]="selectedCustomer.id"
               placeholder="Enter Customer ID">
      </div>

      <div class="form-group">
        <label for="customername">Customer Name</label>
        <input type="text" class="form-control" id="customername" [(ngModel)]="selectedCustomer.name" name="customerName"
               placeholder="Enter Customer Name">
      </div>

      <div class="form-group">
        <label for="address">Customer Address</label>
        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="selectedCustomer.address"
               placeholder="Enter Customer Address">
      </div>

    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

{{customerForm.value | json}}
